.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .noshadow{
    box-shadow: 0px 0 0px!important;
 }

 .cardheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
    border-bottom: 2px solid #4e4e4e45;
 }

 .btn-close{
    font-size: 24px;
    background-color: #dee2e6;
    color: #ffff;
    border-radius: 50%;
 }
 .hand{
   color: #4e4e4e!important;
   cursor: pointer!important;
 }

 .hand::hov{
   color: #4e4e4e!important;
 }

 .img-circle{
   margin-top: 15px;
   display: inline-block;
   width: 150px;
   height: 150px;
   border-radius: 50%;
 
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
 }